$bg-color: #eeecec;
$red-marvel: #ed1d24;
$text-color: #3f3f3f;
$text-color2: #6f6f6f;
$gray: #d7d7d7;

$bg-boxshadow: 6px 6px 12px #949292, -6px -6px 12px #ffffff;

$fontsize-title: 1.2em;
$fontsize-p: 1em;
$fontsize-data-card: 0.8em;
$fontsize-main_title: 2.5em;
