$bg-color: #c2c2c2;
$red-marvel: #ed1d24;
$text-color: #3f3f3f;
$text-color2: #6f6f6f;
$gray: #d7d7d7;

$bg-boxshadow: 43px 43px 87px #9d9d9d, -43px -43px 87px #e7e7e7;

$fontsize-title: 1.2em;
$fontsize-p: 1em;
